/* COMMON STYLES */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

header, footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    display: grid;
    align-items: center;
}
header > h1 + button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    grid-column: 2;
    grid-row: 1;
    width: fit-content;
    justify-self: flex-end;
    position: absolute;
}
footer {
    margin-top: auto;
}

header > h1 {
    width: fit-content;
    justify-self: center;
    grid-row: 1;
    grid-column: 1;
}