{% extends 'users/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block main %}
    {% if messages %}
    <div class="alert-container">
        <ul class="messagelist">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        <button onclick="this.parentElement.remove()"></button>
    </div>
    {% endif %}
    {% if form.non_field_errors %}
    <div class="alert-container">
        {{ form.non_field_errors }}
        <button onclick="this.parentElement.remove()"></button>
    </div>
    {% endif %}
    <form class="login-form" action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        {{ form.username }}
        {{ form.password }}
        <input type="submit" value="Login">
        <p>Don't have an account? <a href="{% url 'users:registration' %}">Sign up</a></p>
    </form>
{% endblock %}