{% extends 'users/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block main %}
    {% if messages %}
    <div class="alert-container">
        <ul class="messagelist">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        <button onclick="this.parentElement.remove()"></button>
    </div>
    {% endif %}
    {% if form.errors %}
        {% for erorr in form.errors.values %}
        <div class="alert-container">
            {{ erorr }}
            <button onclick="this.parentElement.remove()"></button>
        </div>    
        {% endfor %}
    {% endif %}
    <form class="registration-form" action="{% url 'users:registration' %}" method="post">
        {% csrf_token %}
        {{ form.username }}
        {{ form.email }}
        {{ form.password1 }}
        {{ form.password2 }}
        <input type="submit" value="Sign up">
        <p>Already registered? <a href="{% url 'users:login' %}">Login</a></p>
    </form>
{% endblock %}