{% extends 'photos/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/post.css' %}">
{% endblock %}

{% block main %}
    <div class="photo-container">
        <div class="author">
            <img src="{{ post.author.photo.medium.url }}" alt="{{ post.author.photo.thumbnail.url }}" class="user-avatar">
            <a href="">{{ post.author.username }}</a>
        </div>
        <img src="{{ post.photo.url }}" alt="post.photo.thumbnail.url">
        <p class="caption">{{ post.text }}</p>
    </div>
    <div class="comments">
        <h2>Comments</h2>
        {% for comment in comments %}
        <div class="comment">
            <img src="{{ comment.author.photo.medium.url }}" alt="{{ post.author.photo.thumbnail.url }}" class="user-avatar">
            <div>
                <a href="">{{ comment.author.username }}</a>
                <p>{{ comment.text }}</p>
            </div>
        </div>
        {% endfor %}
        <div class="new-comment"> 
            <form action="" method="post">
                {% csrf_token %}
                <img src="{{ user.photo.medium.url }}" alt="{{ user.photo.thumbnail.url }}" class="user-avatar">
                <textarea placeholder="Add a comment..."></textarea>
                <input type="submit" value="Send">
            </form>
        </div>
    </div>
{% endblock %}